.cm-s-gtrtab.CodeMirror {
  line-height: 1.40em;
  font-family: "Fira Mono", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  color: #eee;
  background: #222223;
  padding: 1em;
}
.cm-s-gtrtab .CodeMirror-lines .CodeMirror-cursor {
  border-left: 2px solid #dfdada;
}
.cm-s-gtrtab .CodeMirror-overwrite .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(223, 218, 218, 0.8);
}
.cm-s-gtrtab .stave .cm-fret {
  color: #f7f7f7;
}
.cm-s-gtrtab .stave .cm-barline {
  color: #ee9;
}
.cm-s-gtrtab .stave .cm-dash {
  color: #aaa;
}
.cm-s-gtrtab .stave .cm-implied {
  color: #7cf;
}
.cm-s-gtrtab .stave .cm-bend,
.cm-s-gtrtab .stave .cm-slide,
.cm-s-gtrtab .stave .cm-hammer,
.cm-s-gtrtab .stave .cm-pull,
.cm-s-gtrtab .stave .cm-vibrato {
  color: #7cf;
}
