.cm-s-gtrtab.CodeMirror {
  line-height: 1.40em;
  font-family: Monaco, Menlo, "Courier New", monospace;
  color: #ddd;
  background: #333335;
}
.cm-s-gtrtab .CodeMirror-lines .CodeMirror-cursor {
  border-left: 2px solid #dfdada;
}
.cm-s-gtrtab .CodeMirror-overwrite .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(223, 218, 218, 0.8);
}
.cm-s-gtrtab .string .cm-fret {
  color: #efefef;
}
.cm-s-gtrtab .string .cm-bar {
  color: #ee9;
}
.cm-s-gtrtab .string .cm-dash {
  color: #aaa;
}
.cm-s-gtrtab .string .cm-bend,
.cm-s-gtrtab .string .cm-slide,
.cm-s-gtrtab .string .cm-hammer,
.cm-s-gtrtab .string .cm-vibrato {
  color: #9dd;
}
