.navbar {
  display: block;
  background: #d7d7d7;
  color: #333335;
  cursor: pointer;
  cursor: hand;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar * {
  display: inline-block;
}
.navbar header {
  padding: 0.25em;
  font-size: 1em;
  font-weight: bold;
}
.navbar .hint {
  font-size: 0.8em;
  color: #717171;
}
.toolbar {
  line-height: 1em;
  display: block;
  background: #777;
  padding: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toolbar label {
  font-size: 0.8em;
  text-transform: uppercase;
}
#toggle-overtype {
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #333;
  padding: 0.3em;
  margin-right: 0.25em;
  cursor: pointer;
  cursor: hand;
}
#toggle-overtype.active {
  border-color: #ccc;
  color: #ccc;
}
.labeled-input {
  padding: 0.25em;
}
.labeled-input input {
  padding: 3px;
  padding-bottom: 0;
}
#input-strings {
  border: 1px solid #333;
  font-family: "Fira Mono", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  font-size: 0.8em;
}
.preset-select .tuning {
  color: #777;
  text-align: right;
  margin-left: 20px;
}
#tab {
  overflow-y: scroll;
}
